<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Info
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Este aplicativo permite realizar as seguintes operações: soma, subtração, multiplicação e divisão.</p>
  <p>Para selecionar uma operação, pressione o botão no canto inferior da tela ou acesse o menu acima.</p>
  <p>A operação será realizada ao apertar do botão de confirmação.</p>
  <ion-card color="danger">
    <ion-card-content >
      <p ion-text color="light">
        <ion-icon name="warning"></ion-icon>
        Atenção: Os valores devem estar preenchidos.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

