<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Calcular</h2>

  <div float-left>
  <ion-list>

    <ion-item no-padding>
      <ion-label fixed>Valor 1</ion-label>
      <ion-input type="number" [(ngModel)]="v1" name="v1"></ion-input>
    </ion-item>
  
    <ion-item no-padding>
      <ion-label fixed>Valor 2</ion-label>
      <ion-input type="number" [(ngModel)]="v2" name="v2"></ion-input>
    </ion-item>
  
  </ion-list>

  <button ion-button *ngIf="verificaOperacao('soma')" (click)="clickSomar()">Somar</button>
  <button ion-button *ngIf="verificaOperacao('sub')" (click)="clickSubtrair()">Subtrair</button>
  <button ion-button *ngIf="verificaOperacao('mult')" (click)="clickMultiplicar()">Multiplicar</button>
  <button ion-button *ngIf="verificaOperacao('div')" (click)="clickDividir()">Dividir</button>
  </div>
  <div text-end margin-top>
      <button ion-button color="light"[navPush]="nova">Mais</button>
  </div>
  <ion-fab bottom right>
    <button ion-fab color="secondary"><ion-icon name="happy"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="setOperacao('div')"><ion-icon name="help"></ion-icon></button>
      <button ion-fab (click)="setOperacao('mult')"><ion-icon name="close"></ion-icon></button>
      <button ion-fab (click)="setOperacao('sub')"><ion-icon name="remove"></ion-icon></button>
      <button ion-fab (click)="setOperacao('soma')"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

