<ion-list>
  <button ion-item (click)="setOperacao('soma')">Soma</button>
  <button ion-item (click)="setOperacao('sub')">Subtração</button>
  <button ion-item (click)="setOperacao('mult')">Multiplicação</button>
  <button ion-item (click)="setOperacao('div')">Divisão</button>
</ion-list>