<!--
  Generated template for the NovaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nova Página</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <map lat="30" lng="40"></map>
</ion-content>
